body{
    padding: 0;
    margin: 0;
    background-image: url("zeah-name-watermark.PNG");
}

nav{
	position: fixed;
	background-color: black;
	overflow-x: hidden;
}

.navbar-brand img{
	width: 50px;
}

.navbar h2{
	margin: 0px;
	font-size: 30px;
	padding: 4px;
}

#navbarNav{
    justify-content: flex-end;
    transition: 1.5s;
}

.nav-link{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.item-div{
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.item-name{
    width: 30%;
    float: left;
    height: 40vh;
    margin-top: -40vh;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name p{
    font-size: 5vw;
    font-weight: 400;
}

.item{
    width: 100%;
    height: 80%;
    float: right;
    background-color: rgba(0, 0, 0, 0.11);
    position: relative;
    display: flex;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.item{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.item .image{
    display: flex;
    margin-left: 30%;
    background-color: black;

}

.item img{
    width: 25vh;
    height: 25vh;
    padding: 1vh;
}
