body{
    background-image: url("zeah-name-watermark.PNG");
    overflow-x: hidden;
}

nav{
	position: fixed;
	background-color: black;
	overflow-x: hidden;
}

.navbar-brand img{
	width: 50px;
}

.navbar h2{
	margin: 0px;
	font-size: 30px;
	padding: 4px;
}

#navbarNav{
    justify-content: flex-end;
    transition: 1.5s;
}

.nav-link{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.display{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.493);
    position: relative;
    overflow: hidden;
}

.top-heading{
    padding: 0;
    margin: 0;
    height: 20%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgb(0, 0, 0);
    transform: translateZ(1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.top-heading p{
    font-size: 8vw;
    font-weight: 400;
}

.image-margin{
    width: 100%;
    margin-top: 125px;
}

.image{
    margin-top: -125px;
    overflow-y: scroll;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid goldenrod;
    border-bottom: 0;
}

.image img{
    width: 40%;
    margin: 4%;
    border: 1px solid goldenrod;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.image::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.image{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}